body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  margin: 0px !important;
  padding: 0px !important;
  overflow: hidden;
}

.clearfix::after{
  content:"";
  clear: both;
  display: block;
}
.float--left{
  float: left;
}
.float--right{
  float: right;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.wrapper .first {
    overflow: hidden;
    z-index: 100;
    position: relative;
    height: 52px;
    background: #ffffff;
    width: 100%;
    border-bottom: 1px solid #A96280;
}

.wrapper  .inner {
  max-width: 980px;
  padding: 10px;
  padding-left: 15px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}
.wrapper  .option {
  text-align: center;
}
.wrapper .back {
  border:none;
  background: url(../images/backspace.svg);
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  display: block;
  margin-right: 8px;
  margin-left: 3px;
  float: left;
  text-indent: -9999px;
}
.wrapper .searchInput {
  height: auto; /* 높이 초기화 */
  line-height: normal; /* line-height 초기화 */
  width: 260px;
  height: 26px;
  border-radius: 10px;
  border: 1px solid #A96280;
}
.section .navBar {
  overflow: hidden;
  z-index: 100;
  display: flex;
  height: 100%;
  align-items: center;
}

.section .inner .logo {
  background: url("../images/logo.svg");
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  display: block;
  margin: 0px auto;
  text-indent: -9999px;
}
.section .inner .login {
  text-decoration: none;
  position:absolute;
  right: 15px;
  top:17px;
  display: flex;
  float: right;
  font-size: 15px;
  margin-right: 15px;
  color : #ffffff;
}
.section .inner .login:hover{
  color : #c4c4c4;
}


.footer {
  overflow: hidden;
  z-index: 100;
  position:fixed;
  background: #ffffff;
  left: 0;
  right: 0;
  bottom: 0;
  height:52px;
  border-top: 1px solid #A96280;
}
.footer .inner {
  max-width: 980px;
  padding: 10px;
  padding-left: 15px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}
.footer .footer-navBar li {
  display: flex;  
  text-align: center;
  box-sizing: border-box;
  float: left;
  width: 25%;
}

#main-btn {
  background: url(../images/main.svg);
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  display: table-cell;
  vertical-align: middle;
  text-indent: -9999px;
  margin: 0 auto;
}
#friends-btn {
  background: url(../images/friends.svg);
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  margin: 0 auto;
}
#mypage-btn {
  background-color: #A96280;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  text-indent: -9999px;
  display: block;
  margin: 0 auto;
  margin-top: 3px;
}
#add-btn {
  background: url(../images/add.svg);
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  margin: 0 auto;
}



.second {
  flex-grow: 1;
  height: 100%;
}
.second .map_wrap {
  position:relative;
  width:100%;
  height:95vh;
}
.second #menu_wrap {
  position:absolute;
  width:100%;
  height: 40vh;
  top: 50%;
  padding:5px;
  overflow-y:auto;
  background:rgba(255, 255, 255, 1);
  z-index: 1;
  font-size:12px;
  border-radius: 10px;
}

.third {
  height: 50px;
}