<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>순간포착 | 서울특별시 종로구 00동</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.css">
    <link rel="stylesheet" href="/stylesheets/style2.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
</head>

<body>
    <!-- HEADER -->
    <header class="section">
        <div class="inner clearfix">
            <div class="navBar float--left">
                <div >
                    <a href="/timeline/timeline" id="back-btn">Back Button</a>
                </div>
            </div>
            <div class="navBar float--right">
                <div id=break-btn>
                    <a href="/">Break Button</a>
                </div>
            </div>
            <div class="logo">
                <a href="/">순간포착</a>
            </div>
        </div>
    </header>
    <!-- CONTENT -->
    <main class="view-wrap">
        <!-- 자바스크립트로  spot 주소 받아오기 추가 -->
        <div class="addr-box wrap flex-container">
            <span id="marker-icon"></span>
            <span class="address-font">서울특별시 종로구 00동</span>
        </div>
        <div class="item-wrap">
            <div class="wrap my-post-label">
                <div class="flex-container">
                    <div id="post-profile-photo"></div>
                    <div id="post-profile-name">홍길동</div>
                </div>
                <div id="post-date">2021년 6월 25일</div>
            </div>
            <div class="wrap timeline-photo big">
                <img class="img-thumbnail" src="https://www.royalpalace.go.kr/content/images/season/fall/1.jpg">
            </div>
            <div class="wrap my-post-label">
                <ul class="post-tag">
                    <li>#풍경</li>
                    <li>#여행</li>
                    <li>#자연</li>
                </ul>
                <div id="like-btn"></div>
            </div>
            <div id="post-exp" class="wrap">침전인 강녕전 서쪽 연못 안에 조성된 누각으로 외국사신 또는 군신간의 연회장소이며, 임금은 올바른 사람을 얻어야만 정사를 바로 할 수 있다는 의미에서 경사스러운 모임이 있는 장소로 사용되었다.</div>
        <div id="add-post-btn" onclick="location.href='/newpost/newpost'">add post</div>
    </main>
    <!-- FOOTER -->
    <footer class="footer">
        <div class="inner">
            <div class="footer-navBar">
                <ul class="clearfix">
                    <li><a id="main-btn" href="/">Main</a></li>
                    <li><a id="friends-btn" href="/timeline/timeline">Timeline</a></li>
                    <li><a id="mypage-btn" href="/mypage/mypage">MyPage</a></li>
                    <li><a href="#" id="setting-btn">Setting</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>