<!-- //https://myfirstmap.s3.ap-northeast-2.amazonaws.com/circle.png -->

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes">
    <title>순간포착</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
</head>

<body>
  <header class="section">
    <div class="inner clearfix">
      <div class="navBar float--left">
        <div>
            <a href="/search" id="search-btn"></a>
        </div>
      </div>
  
      <div>
        <a href="/" class="logo">순간포착</a>
      </div>
  
      <div>
        <a href="/login" class="login">
          <span>log in</span>
        </a>
      </div>
    </div>
</header>

<button type="button" class="mobile-menu float--left"><i class="fas fa-bars"></i></button>

<div class="menuwrap">
    <nav id="menu">
        <!-- "메뉴목록 표시" -->
        <ul class="category_list">
            <li class=""><a class="link_sub_item" href="/category/1">설정창입니다</a></li>
            <li class=""><a class="link_sub_item" href="/category/2">아직 내용을</a></li>
            <li class=""><a class="link_sub_item" href="/category/3">추가하지 않았습니다</a></li>
        </ul>          
    </nav>
</div>

<div id="map"></div>



<div class="footer">
    <div class="inner">
  
      <div class="footer-navBar">
        <ul class="clearfix">
          <li><a id="main-btn" href="/">Main</a></li>
          <li><a id="friends-btn" href="/timeline/timeline">TimeLine</a></li>
          <li><a id="mypage-btn" href="/mypage/mypage">MyPage</a></li>
          <!-- <li><div id="toggle-btn"></div></li> -->
          <li><a href="#" id="setting-btn">Setting</a></li>
        </ul>
      </div>
    
    </div>
</div>


<!-- MAP JS SCRIPT -->
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ee35c4b2211354612f0002ffaed8c02e"></script>

<script>
document.addEventListener('DOMContentLoaded', function(){
    document.querySelector(".mobile-menu").addEventListener("click", function(e){
        if ( document.querySelector('.menuwrap').classList.contains('on') ){
            //메뉴닫힘
            document.querySelector('.menuwrap').classList.remove('on');
            document.querySelector('.mobile-menu i').classList.remove('fa-times')
            document.querySelector('.mobile-menu i').classList.add('fa-bars');

            //페이지 스크롤 락 해제
            document.querySelector('#dimmed').remove();
        } else {
            //메뉴펼침
            document.querySelector('.menuwrap').classList.add('on');
            document.querySelector('.mobile-menu i').classList.remove('fa-bars');
            document.querySelector('.mobile-menu i').classList.add('fa-times');

            //페이지 스크롤 락 레이어 추가
            let div = document.createElement('div');
            div.id = 'dimmed';
            document.body.append(div);

            //페이지 스크롤 락  모바일 이벤트 차단
            document.querySelector('#dimmed').addEventListener('scroll touchmove touchend mousewheel', function(e){
                e.preventDefault();
                e.stopPropagation();
                return false;
            });

            //페이지 스크롤 락 레이어 클릭 메뉴 닫기
            document.querySelector('#dimmed').addEventListener('click', function(e){
                document.querySelector(".mobile-menu").click();
            });             

        }
    });
});

</script>

<script>
  var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
      mapOption = { 
        center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨 
      }; 
  
  var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
  
  // HTML5의 geolocation으로 사용할 수 있는지 확인합니다 
  if (navigator.geolocation) {
      
      // GeoLocation을 이용해서 접속 위치를 얻어옵니다
      navigator.geolocation.getCurrentPosition(function(position) {
          
          var lat = position.coords.latitude, // 위도
            lon = position.coords.longitude; // 경도
          
          var locPosition = new kakao.maps.LatLng(lat, lon) // 마커가 표시될 위치를 geolocation으로 얻어온 좌표로 생성합니다
            // message = '<div style="text-align:center;padding:5px;color: red">현재위치</div>'; // 인포윈도우에 표시될 내용입니다
          
          // 마커와 인포윈도우를 표시합니다
          displayMarker(locPosition);
              
        });
      
  } else { // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치와 인포윈도우 내용을 설정합니다
      
      var locPosition = new kakao.maps.LatLng(33.450701, 126.570667),    
        message = 'geolocation을 사용할수 없어요..'
          
      displayMarker(locPosition, message);
  }
  

  var imageSrc = 'https://myfirstmap.s3.ap-northeast-2.amazonaws.com/circle.png', // 마커이미지의 주소입니다    
    imageSize = new kakao.maps.Size(24 , 24), // 마커이미지의 크기입니다
    imageOption = {offset: new kakao.maps.Point(27, 69)}; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.

  // 마커의 이미지정보를 가지고 있는 마커이미지를 생성합니다
  var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption)

  // 마커를 생성합니다
  // function displayMarker(locPosition, message)
  // 지도에 마커와 인포윈도우를 표시하는 함수입니다
  function displayMarker(locPosition) {
  
      // 마커를 생성합니다
      var marker = new kakao.maps.Marker({  
        map: map, 
        position: locPosition,
        image: markerImage
      }); 
      
      
      // var iwContent = message, // 인포윈도우에 표시할 내용
      //   iwRemoveable = true;
  
      // // 인포윈도우를 생성합니다
      // var infowindow = new kakao.maps.InfoWindow({
      //   content : iwContent,
      //   removable : iwRemoveable
      // });
      
      // // 인포윈도우를 마커위에 표시합니다 
      // infowindow.open(map, marker);
      
      // 지도 중심좌표를 접속위치로 변경합니다
      map.setCenter(locPosition);      
  }    

  
  // 마커가 표시될 위치입니다 
  var markerPosition1  = new kakao.maps.LatLng(37.458479760269256, 126.63678289519116); 

  // 마커를 생성합니다
  var marker = new kakao.maps.Marker({
      position: markerPosition1
  });

  // 마커가 지도 위에 표시되도록 설정합니다
  marker.setMap(map);

  
</script>


</body>


</html>