<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>순간포착 | 서울특별시 종로구 00동</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.css">
    <link rel="stylesheet" href="/stylesheets/style2.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
</head>

<body>
    <!-- HEADER -->
    <header class="section">
        <div class="inner clearfix">
            <div class="navBar float--left">
                <div id="back-btn">Break Button</div>
            </div>
            <div class="navBar float--right">
                <div id=search-btn>Search Button</div>
            </div>
            <div class="logo">
                <a href="#">순간포착</a>
            </div>
        </div>
    </header>
    <!-- CONTENT -->
    <main class="view-wrap">
        <!-- 자바스크립트로  spot 주소 받아오기 추가 -->
        <!-- DB 에서 1 게시글 위치정보 2 게시글 날짜, 3 사진 4 해시태그 가져오기 -->
        <div class="item-wrap">
            <div class="wrap user-post-grid">
                <span><img src="../images/marker.svg"></span>
                <span class="address-font">서울특별시 종로구 00동</span>
                <div id="gear-btn"></div>
                <div class="gap"></div>
                <div id="post-date">2021년 6월 28일</div>
            </div>
            <div class="wrap timeline-photo big">
                <a href="myIndivPost.ejs"><img class="img-thumbnail"
                        src="https://www.royalpalace.go.kr/content/images/season/fall/1.jpg"></a>
            </div>
            <div class="wrap clearfix">
                <div id="post-tag" class="float--left">#풍경 #여행 #자연</div>
            </div>
            <div id="post-txt" class="wrap">침전인 강녕전 서쪽 연못 안에 조성된 누각으로 외국사신 또는 군신간의 연회장소이며, 임금은 올바른 사람을 얻어야만 정사를 바로 할 수
                있다는 의미에서 경사스러운 모임이 있는 장소로 사용되었다.</div>
        </div>
    </main>
    <!-- FOOTER -->
    <footer class="footer">
        <div class="inner">
            <div class="footer-navBar">
                <ul class="clearfix">
                    <li>
                        <div id="main-btn">Main</div>
                    </li>
                    <li>
                        <div id="friends-btn">Search Button</div>
                    </li>
                    <li>
                        <div id="mypage-btn" class="mypage" role="link" tabindex="0"></div>
                    </li>
                    <li><a id="add-btn" href="newPost.ejs">Search Button</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>