<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>순간포착 | 마이페이지</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.css">
    <link rel="stylesheet" href="/stylesheets/style2.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ee35c4b2211354612f0002ffaed8c02e"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script defer src="/javascript/myMap.js"></script>

</head>

<body>
    <!-- HEADER -->
    <header class="section">
        <div class="inner clearfix">
            <div class="navBar float--right">
                <div>
                    <a id="break-btn" href="/">Break Button</a>
                </div>
            </div>

            <div class="logo">
                <a href="/">순간포착</a>
            </div>
        </div>
    </header>
    <!-- CONTENT -->
    <main class="view-wrap-new">
        <!-- data 요청 1.유저 프로필사진 2. 닉네임 3. 자기소개-->
        <div class="user-profile-grid">
            <div class="photo-box">
                <div class="inner"><img class="img-thumbnail"
                        src="https://images.unsplash.com/photo-1548142813-c348350df52b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=335&q=80">
                </div>
            </div>
            <div class="gap"></div>
            <div class="username">김현애</div>
            <!-- ** 수정페이지로 이동시키기 -->
            <div class="text-button2" onclick="location.href='/myaccount/myaccount'">수정</div>
            <div class="user-bio">안녕하세요. 심채영입니다...</div>
        </div>
        <div class="myPage-tab">
            <ul class="myPage-tab-container">
                <li><button id="post-list-btn" type="button"></button></li>
                <li><button id="my-map-btn" type="button"></button></li>
            </ul>
        </div>

        <div class="my-map-cont"><div id="my-map"></div></div>
        <!-- DB 에서 1 사용자 프로필 사진 2 사용자 닉네임, 3 사용자 자기소개, 4 게시글 위치정보, 5 게시글 날짜 6 게시글 해시태그 가져오기 -->
        <div class="timeline-tab active">
            <div class="item-wrap">
                <div class="wrap my-post-label">
                    <div class="flex-container">
                        <span id="marker-icon"></span>
                        <span class="address-font">서울특별시 용산구 청파동</span>
                    </div>
                    <div id="post-date">2021년 6월 28일</div>
                </div>
                <div class="wrap timeline-photo">
                    <a href="/mypost/mypost"><img class="img-thumbnail"
                            src="https://user-images.githubusercontent.com/68391767/135757245-43bfcd01-d49d-4b08-85e3-33386263ddbf.png"></a>
                </div>
                <div class="wrap my-post-label">
                    <ul class="post-tag">
                        <li>#일상</li>
                        <li>#건축</li>
                        <li>#스냅샷</li>
                    </ul>
                    <div id="gear-btn" onclick="location.href='/newpost/newpost'"></div>
                </div>
            </div>
            <div class="item-wrap">
                <div class="wrap my-post-label">
                    <div class="flex-container">
                        <span id="marker-icon"></span>
                        <span class="address-font">서울특별시 강서구 마곡동</span>
                    </div>
                    <div id="post-date">2021년 6월 28일</div>
                </div>
                <div class="wrap timeline-photo">
                    <a href="/mypost/mypost"><img class="img-thumbnail"
                            src="https://user-images.githubusercontent.com/68391767/135757777-24317b38-d3b3-4e12-9734-45d8ff73d449.png"></a>
                </div>
                <div class="wrap my-post-label">
                    <ul class="post-tag">
                        <li>#스냅샷</li>
                        <li>#여행</li>
                        <li>#자연</li>
                    </ul>
                    <div id="gear-btn" onclick="location.href='/newpost/newpost'"></div>
                </div>
            </div>
            <div class="item-wrap">
                <div class="wrap my-post-label">
                    <div class="flex-container">
                        <span id="marker-icon"></span>
                        <span class="address-font">서울 영등포구 여의도동</span>
                    </div>
                    <div id="post-date">2021년 6월 28일</div>
                </div>
                <div class="wrap timeline-photo">
                    <a href="/mypost/mypost"><img class="img-thumbnail"
                            src="https://user-images.githubusercontent.com/68391767/135757983-a3f55b85-b5c3-4795-971d-3536b16abc06.png"></a>
                </div>
                <div class="wrap my-post-label">
                    <ul class="post-tag">
                        <li>#풍경</li>
                        <li>#여행</li>
                        <li>#자연</li>
                    </ul>
                    <div id="gear-btn" onclick="location.href='/newpost/newpost'"></div>
                </div>
            </div>
        </div>
    </main>
    <!-- FOOTER -->
    <footer class="footer">
        <div class="inner">
            <div class="footer-navBar">
                <ul class="clearfix">
                    <li><a id="main-btn" href="/">Main</a></li>
                    <li><a id="friends-btn" href="/timeline/timeline">TimeLine</a></li>
                    <li><a id="mypage-btn" href="#">MyPage</a></li>
                    <li><a href="#" id="setting-btn">Setting</a></li>
                </ul>
            </div>
        </div>
    </footer>

</body>

</html>