<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>순간포착 | 서울특별시 종로구 00동</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.css">
    <link rel="stylesheet" href="/stylesheets/style2.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
</head>

<body>
    <!-- HEADER -->
    <header class="section">
        <div class="inner clearfix">
            <div class="navBar float--left">
                <div id ="back-btn" onclick="history.go(-1);">Back Button</div>
            </div>
            <div class="navBar float--right">
                <div>
                    <a id="break-btn" href="/">Break Button</a>
                </div>
            </div>
            <div class="logo">
                <a href="/">순간포착</a>
            </div>
        </div>
    </header>
    <!-- CONTENT -->
    <main class="view-wrap">
        <!-- 자바스크립트로  spot 주소 받아오기 추가 -->
        <!-- DB 에서 1 게시글 위치정보 2 게시글 날짜, 3 사진 4 해시태그 가져오기 -->
        <div class="item-wrap">
            <div class="wrap user-post-grid">
                <span><img src="../images/marker.svg"></span>
                <span class="address-font">서울특별시 용산구 청파동</span>
                <div id="gear-btn" onclick="location.href='/mypost-change'"></div>
                <div class="gap"></div>
                <div id="post-date">2021년 9월 29일</div>
            </div>
            <div class="wrap timeline-photo big">
                <a href="myIndivPost.ejs"><img class="img-thumbnail"
                        src="https://user-images.githubusercontent.com/68391767/135757297-741d2ecf-c99d-4767-9e59-796e45da4b0c.png"></a>
            </div>
            <ul class="wrap my post-tag">
                <li>#건축</li>
                <li>#스냅샷</li>
                <li>#일상</li>
            </ul>
            <div id="post-exp" class="wrap">날씨 좋은 날에 학교에서 찍은 사진</div>
        </div>
    </main>
    <!-- FOOTER -->
    <footer class="footer">
        <div class="inner">
            <div class="footer-navBar">
                <ul class="clearfix">
                    <li><a id="main-btn" href="/">Main</a></li>
                    <li><a id="friends-btn" href="/timeline/timeline">Timeline</a></li>
                    <li><a id="mypage-btn" href="/mypage/mypage">MyPage</a></li>
                    <li><a href="#" id="setting-btn">Setting</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>