<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>순간포착|새로운 게시글 추가</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.css">
    <link rel="stylesheet" href="/stylesheets/style2.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
</head>

<body>
    <!-- HEADER -->
    <header class="section">
        <div class="inner clearfix">

            <div class="navBar float--left">
                <div id="break-btn">Break Button</div>
            </div>

            <div class="logo">
                <a href="#">순간포착</a>
            </div>
        </div>
    </header>
    <main>
        <div class="view-wrap">
            <div class="content">
                <div class="new-photo wrap flex-container">
                    <input id="add-btn-ctr" type="file" accept="image/gif, image/jpeg, image/png">
                </div>
                <div class="wrap">
                    <!-- 스팟 위치 받아오는 것으로 수정 요망 -->
                    <div class="semi-title">위치</div>
                    <input class="void-box" placeholder="장소를 입력하시오">
                </div>
                <div class="wrap">
                    <div class="semi-title">해시태그</div>
                    <input class="void-box" placeholder="해시태그를 입력하시오 (최대 3개)">
                </div>
                <div class="wrap">
                    <div class="semi-title">설명</div>
                    <textarea id="photo-exp-box" name="photo-exp" cols="30" rows="10"
                        placeholder="사진을 설명하시오 (최대 140자)"></textarea>
                    <div id="text-cnt">(0 / 140)</div>
                </div>
                <input type="submit" formaction="#" formenctype=".*" value="저장" class="void-box button wrap"></input>
            </div>
        </div>
    </main>

    <!-- FOOTER -->
    <div class="footer">
        <div class="inner">
    
            <div class="footer-navBar">
                <ul class="clearfix">
                    <li><a id="main-btn" href="/">Main</a></li>
                    <li><a id="friends-btn" href="/timeline/timeline">TimeLine</a></li>
                    <li><a id="mypage-btn" href="/mypage/mypage">MyPage</a></li>
                    <li><a href="/newpost/newpost" id="add-btn">Add Btn</a></li>
                </ul>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#photo-exp-box').on('keyup', function () {
                $('#text-cnt').html("(" + $(this).val().length + " / 140)");
                if ($(this).val().length > 140) {
                    $(this).val($(this).val().substring(0, 140));
                    $('#text-cnt').html("(140 / 140)");
                }
            });
        });
    </script>
    <!-- <script>
        // 지도를 생성합니다    
        var map = new kakao.maps.Map(mapContainer, mapOption);

        // 주소-좌표 변환 객체를 생성합니다
        var geocoder = new kakao.maps.services.Geocoder();

        // 주소로 좌표를 검색합니다
        geocoder.addressSearch('제주특별자치도 제주시 첨단로 242', function (result, status) {

            // 정상적으로 검색이 완료됐으면 
            if (status === kakao.maps.services.Status.OK) {

                var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

                // 결과값으로 받은 위치를 마커로 표시합니다
                var marker = new kakao.maps.Marker({
                    map: map,
                    position: coords
                });

                // 인포윈도우로 장소에 대한 설명을 표시합니다
                var infowindow = new kakao.maps.InfoWindow({
                    content: '<div style="width:150px;text-align:center;padding:6px 0;">우리회사</div>'
                });
                infowindow.open(map, marker);

                // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
                map.setCenter(coords);
            }
        });
    </script> -->
</body>

</html>