<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>순간포착|새로운 게시글 추가</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.css">
    <link rel="stylesheet" href="/stylesheets/style2.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <script defer src="/javascript/newPost.js"></script>
    <script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ee35c4b2211354612f0002ffaed8c02e"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
</head>

<body>
    <!-- HEADER -->
    <header class="section">
        <div class="inner clearfix">

            <div class="navBar float--left">
                <div id="break-btn" onclick="location.href='/'">Break Button</div>
            </div>

            <div class="logo">
                <a href="#">순간포착</a>
            </div>
        </div>
    </header>
    <script>
        var geocoder = new kakao.maps.services.Geocoder();

        var coord = new kakao.maps.LatLng(37.56496830314491, 126.93990862062978);
        var callback = function (result, status) {
            if (status === kakao.maps.services.Status.OK) {
                console.log('그런 너를 마주칠까 ' + result[0].address.address_name + '을 못가');
            }
        };

        geocoder.coord2Address(coord.getLng(), coord.getLat(), callback);
    </script>
    <main>
        <div class="view-wrap">
            <div class="content">
                <div class="new-photo wrap">
                    <div class="inner"><img id="preview" src="#" alt=""></div>
                </div>
                <input class="wrap" type="file" accept="image/*" onchange="loadFile(event)">
                <div class="wrap">
                    <!-- 스팟 현재 위치 받아오기 -->
                    <div class="semi-title">위치</div>
                    <input class="void-box" placeholder="장소를 입력하시오">
                </div>
                <div class="wrap">
                    <div class="semi-title">해시태그</div>
                    <input class="void-box" placeholder="해시태그를 입력하시오 (최대 3개)">
                </div>
                <div class="wrap">
                    <div class="semi-title">설명</div>
                    <textarea id="photo-exp-box" name="photo-exp" cols="30" rows="10"
                        placeholder="사진을 설명하시오 (최대 140자)"></textarea>
                    <div id="text-cnt">(0 / 140)</div>
                </div>
                <input type="submit" formaction="#" formenctype=".*" value="저장" class="void-box button wrap"></input>
            </div>
        </div>
    </main>
    <script>
        $(document).ready(function () {
            $('#photo-exp-box').on('keyup', function () {
                $('#text-cnt').html("(" + $(this).val().length + " / 140)");
                if ($(this).val().length > 140) {
                    $(this).val($(this).val().substring(0, 140));
                    $('#text-cnt').html("(140 / 140)");
                }
            });
        });
    </script>

    <!-- FOOTER -->
    <div class="footer">
        <div class="inner">

            <div class="footer-navBar">
                <ul class="clearfix">
                    <li><a id="main-btn" href="/">Main</a></li>
                    <li><a id="friends-btn" href="/timeline/timeline">TimeLine</a></li>
                    <li><a id="mypage-btn" href="/mypage/mypage">MyPage</a></li>
                    <li><a href="/newpost/newpost" id="add-btn">Add Btn</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>