<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>순간포착-회원가입</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
	<style>
		.section .back1 {
          /* position: absolute; */
          float: left;
          margin-top: 4px;
          background: url("../images/back_white.svg");
          background-repeat: no-repeat;
          width: 30px;
          height: 40px;
          margin-left: 7px;
          display: block;
          text-indent: -9999px;
          border: 0;
          outline: 0;
        }
		.section2 {
			max-width: 380px;
			margin: auto;
		}
		.section2 .bodyDiv {
			display: flex;
			/* top: 52px; */
			height: 82vh;
			max-width: 90vw;
			margin: 0 auto;
		}
		.section2 .bodyDiv .mainDiv {
			position: relative;
			width: 100%;
			margin: 0 auto;
			margin-top: 15px;
		}
		.section2 .bodyDiv .mainDiv .label1 {
			display: inline-block;
			margin-left: 10px;
			margin-top: 3px;
			height: 15px;
		}
		.section2 .bodyDiv .mainDiv .input1 {
			margin: 4px 0 4px 0;
			width: 100%;
			color: black;
		}
		.section2 .bodyDiv .mainDiv .buttonP{
			position: absolute;
			width: 100%;
			bottom: 0;
		}
		.section2 .bodyDiv .mainDiv .buttonP button {
			position: relative;
			border:none;
			box-shadow:none;
			display: block;
			width: 100%;
			height: 35px;
			margin-top:10px;
			bottom: 0;
			color: white;
			background: #A96280;
			border-radius: 10px;
		}
		.section2 .bodyDiv .mainDiv .filebox input[type="file"] { 
			position: absolute; 
			width: 1px; 
			height: 1px; 
			padding: 0; 
			margin: -1px; 
			overflow: hidden; 
			clip:rect(0,0,0,0); 
			border: 0; 
		}
		.section2 .bodyDiv .mainDiv .filebox label { 
			display: inline-block; 
			width: 15%;
			height: 35px; 
			text-align: center;
			margin-top: 8px;
			margin-left: 1%;
			padding-top: 8px;
			color: #999; 
			font-size: 13px; 
			line-height: normal; 
			vertical-align: middle; 
			background-color: #fdfdfd; 
			cursor: pointer; 
			border: 1px solid rgba(0,0,0,0.3);
			border-radius: 10px; 
		}
		 /* named upload */ 
		.section2 .bodyDiv .mainDiv .filebox .upload-name { 
			display: inline-block;
			width: 82%;
			height: 35px;
			margin-top: 8px;
			padding: .5em .75em; /* label의 패딩값과 일치 */ 
			font-size: inherit; 
			line-height: normal; 
			vertical-align: middle; 
			border: 1px solid rgba(0,0,0,0.3);
			color: #999; 
			border-radius: 10px; 
			/* -webkit-appearance: none; 네이티브 외형 감추기 
			-moz-appearance: none; 
			appearance: none;  */
		}


	</style>
	<script src="http://code.jquery.com/jquery-latest.js"></script>
    <script>
    	$(function(){
    		$("#joinForm").submit(function(){
    			if($("#pw").val() !== $("#pw2").val()){
    				alert("비밀번호가 다릅니다.");
    				$("#pw").val("").focus();
    				$("#pw2").val("");
    				return false;
    			}else if ($("#pw").val().length < 8) {
    				alert("비밀번호는 8자 이상으로 설정해야 합니다.");
    				$("#pw").val("").focus();
    				return false;
    			}
				// else if($.trim($("#pw").val()) !== $("#pw").val() || $.trim($("#email").val()) !== $("#email").val() || $.trim($("#id").val()) !== $("#id").val()){
    			// 	alert("공백은 입력이 불가능합니다.");
    			// 	return false;
    			// }
    		})
        
    		$("#id").keyup(function() {
    			$.ajax({
    				url : "../member/check_id.do",
    				type : "POST",
    				data : {
    					id : $("#id").val()
    				},
    				success : function(result) {
    					if (result == 1) {
    						$("#id_check").html("중복된 아이디가 있습니다.");
    						$("#joinBtn").attr("disabled", "disabled");
    					} else {
    						$("#id_check").html("");
    						$("#joinBtn").removeAttr("disabled");
    					}
    				},
    			})
    		});
        
    		$("#email").keyup(function(){
    			$.ajax({
    				url : "./check_email.do",
    				type : "POST",
    				data : {
    					email : $("#email").val()
    				},
    				success : function(result) {
    					if (result == 1) {
    						$("#email_check").html("중복된 이메일이 있습니다.");
    					} else {
    						$("#email_check").html("");
    					}
    				},
    			})
    		});
			$(document).ready(function(){ 
				var fileTarget = $('.filebox .upload-hidden'); 
				fileTarget.on('change', function(){
					// 값이 변경되면 
					if(window.FileReader){ // modern browser 
						var filename = $(this)[0].files[0].name; 
					} else { // old IE 
						var filename = $(this).val().split('/').pop().split('\\').pop(); // 파일명만 추출 
					} 
					
					// 추출한 파일명 삽입 
					$(this).siblings('.upload-name').val(filename); 
				}); 
			});

    	})
    </script>

</head>
<body>
	<header class="section">
		<div class="inner clearfix">
		  <div>
			<button class="back1" type="button" onclick="history.go(-1);">back</button>
			<a href="/" class="logo">순간포착</a>
		  </div>
		</div>
	</header>
<div class="section2">
    <div class="bodyDiv">
		
		<div class="mainDiv">
			<form id="joinForm" action="./member/join_member.do" method="post" enctype="multipart/form-data">
				<p>
					<label class="label1">Nickname</label> 
					<input class="input1" type="text" name="nickname" required> 
				</p>
				<p>
					<label class="label1">name</label> 
					<input class="input1" type="text" name="name" required> 
				</p>
				<p>
					<label class="label1">ID(Email)</label> 
					<input  class="input1" type="email" id="id" name="id" required> 
					<span id="id_check" class="w3-text-red"></span>
				</p>
				<p>
					<label class="label1">Password</label> 
					<input class="input1" id="pw" name="pw" type="password" required>
				</p>
				<p>
					<label class="label1">Password 확인</label> 
					<input class="input1" id="pw2" type="password" required>
				</p>
				<p>
					<label class="label1">Profile</label>
					<p class="filebox">
						<input class="upload-name" value="파일선택" disabled="disabled">
						<label for="ex_filename">업로드</label>
						<input type="file" id="ex_filename" class="upload-hidden">
					</p>
				</p>
				
				<p>
					<label class="label1">Comment</label> 
					<input class="input1" type="text">
				</p>

				<p class="buttonP">
					<button type="submit" id="joinBtn">가입하기</button>
					<button type="button" onclick="history.go(-1);">Cancel</button>
				</p>
			</form>
		</div>
	</div>
</div>

	<!-- FOOTER -->
    <div class="footer">
        <div class="inner">
      
          <div class="footer-navBar">
            <ul class="clearfix">
              <li><a id="main-btn" href="/">Main</a></li>
              <li><div id="friends-btn">Search Button</div></li>
              <li><a id="mypage-btn" href="/mypage/mypage">MyPage</a></li>
              <li><a href="#" id="setting-btn">Setting</a></li>
            </ul>
          </div>
        </div>
    </div>
	
</body>
</html>
