<!DOCTYPE html>
<html>
<!-- 스팟타임라인 -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>순간포착 | 게시글 목록 </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.css">
    <link rel="stylesheet" href="/stylesheets/style2.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
</head>

<body>
    <!-- HEADER -->
    <header class="section">
        <div class="inner clearfix">
            <div class="navBar float--left">
                <div>
                    <a id="back-btn" href="/search/search">Back Button</a>
                </div>
                
            </div>
            <div class="navBar float--right">
                <div>
                    <a id=break-btn href="/">Break Button</a>
                </div>
            </div>
            <div class="logo">
                <a href="/">순간포착</a>
            </div>
        </div>
    </header>
    <!-- CONTENT -->
    <main class="view-wrap">
        <!-- 자바스크립트로  spot 주소 받아오기 추가 -->
        <div class="spot-profile-grid">
            <div class="photo-box">
                <div class="inner"><img class="img-thumbnail"
                        src="https://www.royalpalace.go.kr/content/images/season/fall/1.jpg"></div>
            </div>
            <!-- 아래 버튼을 지도와 목록 토글키로 바꾸기 -->
            <div class="text-button">지도에서 보기</div>
            <div class="addr-box wrap flex-container">
                <span id="marker-icon"></span>
                <span class="address-font">서울특별시 종로구 00동</span>
            </div>
        </div>
        <!-- DB 에서 1 게시자 프사, 2 게시자 이름, 3 게시 날짜, 4 게시글 사진, 5 게시글 태그, 6 좋아요 등록정보 7 게시글 내용 가져오기 -->
        <div class="item-wrap">
            <div class="wrap my-post-label">
                <div class="flex-container">
                    <div id="post-profile-photo"></div>
                    <div id="post-profile-name">홍길동</div>
                </div>
                <div id="post-date">2021년 6월 25일</div>
            </div>
            <div class="wrap timeline-photo">
                <img class="img-thumbnail" onclick="location.href='/viewpost/viewpost'" src="https://www.royalpalace.go.kr/content/images/season/fall/1.jpg">
            </div>
            <div class="wrap my-post-label">
                <ul class="post-tag">
                    <li>#풍경</li>
                    <li>#여행</li>
                    <li>#자연</li>
                </ul>
                <div id="like-btn"></div>
            </div>
        </div>
        <div class="item-wrap">
            <div class="wrap my-post-label">
                <div class="flex-container">
                    <div id="post-profile-photo"></div>
                    <div id="post-profile-name">홍길동</div>
                </div>
                <div id="post-date">2021년 6월 25일</div>
            </div>
            <div class="wrap timeline-photo">
                <img class="img-thumbnail" onclick="location.href='/viewpost/viewpost'" src="https://www.royalpalace.go.kr/content/images/season/fall/1.jpg">
            </div>
            <div class="wrap my-post-label">
                <ul class="post-tag">
                    <li>#풍경</li>
                    <li>#여행</li>
                    <li>#자연</li>
                </ul>
                <div id="like-btn"></div>
            </div>
        </div>
        <div class="item-wrap">
            <div class="wrap my-post-label">
                <div class="flex-container">
                    <div id="post-profile-photo"></div>
                    <div id="post-profile-name">홍길동</div>
                </div>
                <div id="post-date">2021년 6월 25일</div>
            </div>
            <div class="wrap timeline-photo">
                <img class="img-thumbnail" onclick="location.href='/viewpost/viewpost'" src="https://www.royalpalace.go.kr/content/images/season/fall/1.jpg">
            </div>
            <div class="wrap my-post-label">
                <ul class="post-tag">
                    <li>#풍경</li>
                    <li>#여행</li>
                    <li>#자연</li>
                </ul>
                <div id="like-btn"></div>
            </div>
        </div>
        <div id="add-post-btn" onclick="location.href='/newpost/newpost'">add post</div>
    </main>
    <!-- FOOTER -->
    <footer class="footer">
        <div class="inner">
            <div class="footer-navBar">
                <ul class="clearfix">
                    <li><a id="main-btn" href="/">Main</a></li>
                    <li><a id="friends-btn" href="#">Timeline</a></li>
                    <li><a id="mypage-btn" href="/mypage/mypage">MyPage</a></li>
                    <li><a href="#" id="setting-btn">Setting</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>